@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    
    color: white;
    padding: 10px 0;
}

/* Estilos básicos de la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    width: 120px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

/* Estilos para el menú icono (hamburguesa) en pantallas pequeñas */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}


main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f9f9f9;
}

/* Estilos para la tarjeta de persona */
.persona {
    width: 220px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.persona a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
}

.persona:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.persona img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 2rem;
}

.persona p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    padding: 10px;
}
.title{
    font-size: 1.2em;
    font-weight: bold;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 7680px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-links a {
        padding: 15px;
        border-top: 1px solid #444;
        width: 100%;
    }

    main {
        padding: 10px;
    }
}
